/*
	Fecha: 14/09/2020 21:31:00 ;
*/

raiz{
	background-image: url("../images/turtle.jpg");
	text-align: center;
}

#bloque {background-color:   #ffcc80;
	display:block;
	margin: 25px;
	padding: 15px;
	border-radius: 10px;

}

#bloque1{background-color:  #99c2ff; }
bloque::before{content: attr(descrip); display: block; margin-bottom: 10px; color: white; font-weight: bold; text-align: left; }
contacto{
	background-color:   #44708A;
	display: block;
	height: 200px;
  	width: 25%;
	border: solid black 1px;}

name::before{content: "Nombre: "; }
phone::before{content: "Teléfono: "; }
celphone::before{content: "Celular: "; }
location::before{content: "Dirección: ";  }
email::before{content: "Correo: "; }	

name,phone,celphone,location,email{ display: block; margin-bottom: 5px;
	background-color: ##99c2ff; text-align: left; padding: 5px; border-radius: 5px; }