/*
  Fecha: 14/09/2020 21:31:00 ;
*/

body{
  background-image: url("../images/code.jpg");

}

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 40%;
  margin-left: 30%;
  margin-top: 5%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:  #005ce6;
  color: white;
}

a{
  font-size:20px;
  color:#F0F8FF;
}